# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
*.log
pubspec.lock

# iOS
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# Android
android/.gradle/
android/app/build/
